[pull]
	rebase = true
[user]
	name = brabli
	email = 67018167+brabli@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[alias]
	b = branch
	p = pull --rebase
	c = checkout
	s = stash
	sp = stash pop
	P = push
